body {
    overflow: hidden;
    opacity: 0;
    animation: fade-in 2s forwards;
    background-image: url("resources/home-background.gif");
}

.chain-border {
    border-style: solid;
    border-image: url(resources/chain-border.png) 3 round;
}

a:link {
    color: yellow;
}

a:visited {
    color: wheat;
}

#cloud-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
}

#top-cover {
    position: relative;
    margin-top: 4rem;
    font-size: 250%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
}

#top-moon {
    height: 10em;
    margin-right: 1em;
    animation: rotation 300s infinite linear;
}

#main-container {
    margin: 8rem;
}

#main-navbar {
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-bottom: 0;
}

#main-navbar > a {
    margin-left: 3vw;
}

#main-inner {
    display: flex;
}

#main-sidebar {
    width: 10%;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-size: 20px;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#main-content {
    width: 90%;
    border-left: 0;
    padding: 1vw;
    font-size: 16px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes moveRightToLeft {
    to {
        transform: translateX(-130vw);
    }
}
