body {
    text-align: center;
    text-shadow:
        -3px -3px 0 #878794,
        3px -3px 0 #878794,
        -3px 3px 0 #878794,
        3px 3px 0 #878794;
}

h1 {
    font-size: 90px;
    position: relative;
}

h2 {
    font-size: 40px;
    position: relative;
}

h2>span {
    color: red;
    text-shadow:
        0 0 10px red,
        0 0 15px red,
        0 0 20px darkred,
        0 0 30px darkred;
}

#start-warning {
    opacity: 0;
    animation: fade-in 2s ease-in forwards;
}

#start-stupid {
    opacity: 0;
    animation: fade-in 2s ease-in-out forwards;
    animation-delay: 2s;
}

#start-continue {
    opacity: 0;
    margin-top: 1em;
    animation: fade-in 2s ease-in-out forwards;
    animation-delay: 4s;
}

#start-yesno {
    opacity: 0;
    margin-top: 1em;
    font-size: 90px;
    position: relative;
    animation: fade-in 2s ease-in-out forwards;
    animation-delay: 6s;
}

#start-yes {
    margin-right: 20%;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

@keyframes fade-in {  
    to {
        opacity: 1;
    }
}