@font-face {
    font-family: 'Deltarune';
    src: url("./fonts/deltarune.otf");
}

body {
    color: white;
    font-family: 'Deltarune', serif;
    font-size: medium;
}

@keyframes fade-in { 
    to {
        opacity: 1;
    }
}